# Dependency directories
node_modules/
/client/node_modules/

# Production build folder
/client/build/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug log from npm
npm-debug.log*

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Linux system files
.directory

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
/out

# Nuxt.js build / generate output
.nuxt
/dist

# Gatsby files
.cache/
/public

# Vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port